* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background: rgb(226, 226, 226);
  }
  
  .admin-container {

    height: 100vh;
  }

  .container {
    display: flex;
    
  }

  .paragraph{
    font-family: " Georgia, Times New Roman", Serif;
    font-size: large;
    margin-left: 20px ;
    margin-top: 20px;
  }

  .users {
    flex: 3;
    margin-left: 10px;
    margin-top: 20px;
  }

  .user {
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 1;
  
    background: rgb(106, 214, 173);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  .card button {
    margin-top: 15px;
    padding: 6px 20px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .card button:hover {
    background: #4AD489;
    color: #fff;
  }
  