<html>
    <body>
        <div class="admin-container">
        <div  class="container">
            <div class="row users">
                <div class="col-md-3">
                    <div class="user">
                        <div class="card">
                            <br>
                            <h2>{{dashBoard.TotalElection}}</h2>
                            <br>
                            <h5>Total Elections</h5>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="user">
                        <div class="card">
                            <br>
                            <h2>{{dashBoard.ElectionYouVoted}}</h2>
                            <br>
                            <h5>Election You Voted</h5>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="user">
                        <div class="card">
                            <br>
                            <h2>{{dashBoard.PendingElection}}</h2>
                            <br>
                            <h5>Pending Elections</h5>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="user">
                        <div class="card">
                            <br>
                            <h2>{{dashBoard.CompletedElection}}</h2>
                            <br>
                            <h5>Completed Elections</h5>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="paragraph">
            <br><br>
        <p>
            Our digital voting system is designed to revolutionize the democratic
            process, offering voters a secure, convenient, and transparent method to
            cast their votes. Leveraging cutting-edge technology, our system ensures
            the integrity of each vote through robust encryption and authentication
            measures.
            <br><br>Voters can participate from the comfort of their homes using a
            user-friendly interface accessible via web or mobile devices. The platform
            employs stringent security protocols to safeguard against fraud,
            maintaining the confidentiality and anonymity of each voter. With
            real-time monitoring and audit trails, the system provides transparency
            and accountability in the electoral process. 
            <br><br>Our commitment is to enhance accessibility, streamline the voting experience, and strengthen the
            democratic foundation through a modern and efficient digital voting
            solution.
          </p>
        </div>
        </div>
    </body>
</html>