<div class="d-flex flex-column p-3 " style="width: 200px;">
    <div class="nav-item-admin">
        <span>Admin</span>
    </div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/elections">Election</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/candidates">Candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/voterDetails">Voters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/voterValidation">Voter Validation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/profile">Profile</a>
        </li>
    </ul>
</div>
