<div class="d-flex flex-column p-3 " style="width: 300px;">
    <div class="nav-item-admin">
        <span>Admin</span>
    </div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
           <a class="nav-link " routerLink="/admin/dashboerd">   <i class="fa-solid fa-gauge"></i>  Dashbord</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/elections"> <i class="fa-solid fa-check-to-slot"></i> Election</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/candidates"> <i class="fa-solid fa-users-rectangle"></i> Candidates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/voterDetails"><i class="fa-solid fa-user"></i> Electors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/voterValidation"><i class="fa-solid fa-user-check"></i> Electors Validation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/admin/Voteelections"><i class="fa-solid fa-check-to-slot"></i>  Voter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/profile"><i class="fa-solid fa-user-gear"></i> Profile</a>
        </li>
    </ul>
</div>
