<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light">
  <!-- Project Name -->
  <img src="../../../assets/images/logoNavbar.png" alt="logo" width="70px" />
  <a class="navbar-brand" href="#">VoteSmart </a>

  <!-- Toggle Button for smaller screens (optional) -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!-- Profile Icon -->

      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fa-solid fa-house"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact-us">
          <i class="fa-solid fa-address-card"></i> Contact us
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="login"> <i class="fa-solid fa-right-to-bracket"></i> Login</a>
      </li>
      <!-- Logout Button -->
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" (click)="getDashbord()"><i class="fa-solid fa-gauge"></i> Dashbord</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" (click)="logout()"><i class="fa-solid fa-right-to-bracket"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar End -->