<div>


    <div class="rowfooter ">
        <div class="col-md-4">
            <h3>VoteSmart</h3>
            <div class="text">
                <p>VoteSmart is a Tunisian election application which ensures sto ensure that every
                    citizen has access to the facts, candidates' positions, and important election updates in one place.
                </p>
                <div class="image">
                    <img src="/assets/images/logo.png" alt="" />
                </div>
            </div>
        </div>
        <div class="locations col-md-4">
            <h3>Office locations</h3>
            <div class="office-locations">
                <div>
                    <p>VoteSmart Towers</p>
                    <p>Sousse County</p>
                </div>
                <div>
                    <p>VoteSmart Towers</p>
                    <p>Tunisie County</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Contact info</h3>
            <div class="d-flex justify-content-around">
                <div class="contact-info">
                    <p>Email: info@VoteSmart.com</p>
                    <p>Phone: +216 000 111</p>
                </div>
                <div class="social-icons">

                    <a href="https://www.instagram.com/isietn"><i class="fa-brands fa-instagram"></i> </a>
                    <a href="https://www.facebook.com/isietn"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://x.com/ISIETN"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>copyright &copy; <span>{{date}}</span> | VoteSmart</p>
    </div>

</div>