<div class="d-flex flex-column p-3 " style="width: 300px;">
    <div class="nav-item-voter">
        <span>Elector</span>
    </div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/voter/dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/voter/elections"><i class="fa-solid fa-check-to-slot"></i>  Election</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/voter/profile"><i class="fa-solid fa-user-gear"></i>  Profile</a>
        </li>
    </ul>
</div>