<body>
    <!-- login.component.html -->
    <div class="login-container">
        <div class="login-card">
            <div class="login-header">
                <h2>VoteSmart</h2>
                <p>Forget password.</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">

                <div class="input-group">
                    <input [(ngModel)]="loginData.cin" name="cin" formControlName="cin" type="text" id="cin"
                        placeholder="cin" class="form-control">
                </div>
                <span *ngIf="(cin?.hasError('required') && cin?.touched) || (cin?.errors?.['minlength'] && cin?.dirty) "
                    class="text-danger">
                    cin is required and must be at least 8 characters
                </span>
                <button (click)="formSubmit()" type="submit">send</button>

                <p class="footer">Don't have an account? <a routerLink="/register">Sign Up</a></p>
                <p class="footer">Do you have an account? <a routerLink="/login">Sign in</a></p>

            </form>
        </div>
    </div>
</body>