<app-navbarWeb></app-navbarWeb>

<div class="container">
    <div class="content">

        <div class="text">
            <h3>Welcome to</h3>
            <h1>VoteSmart <br /><span class="brown-text">Service</span></h1>
            <p>
                We believe that informed voters are the backbone of democracy. Our mission is to ensure that every
                citizen has access to the facts, candidates' positions, and important election updates in one place. By
                leveraging technology, we aim to simplify the voting process, encourage greater participation, and
                promote a transparent election system.
            </p>
            <div class="social-icons">
                <a href="https://www.instagram.com/isietn" class="text-black"><i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/isietn" class="text-black"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://x.com/ISIETN" class="text-black"><i class="fa-brands fa-twitter"></i></a>

            </div>
        </div>
    </div>
    <div class="about">
        <div class="about-content">
            <h3>Our Story</h3>
            <h2>About Us</h2>
            <p>
                At VoteSmart, we are passionate about empowering citizens to participate in the democratic process. Our
                goal is to make elections more accessible, transparent, and engaging for everyone. Whether you’re a
                voter seeking reliable information about candidates, an organizer working to drive voter turnout, or a
                candidate wanting to connect with your community, we provide the tools and resources to make it happen.
            </p>
            <button>
                <a routerLink="login">Get Started</a>
            </button>
        </div>
        <div class="about-image">
            <img src="/assets/images/about.jpg" alt="" />
        </div>
    </div>
    <div class="services">
        <h3 class="servicesHeading">WHY US</h3>
        <h2 class="servicesHeading">Why Choose Us</h2>
        <div class="services-content">
            <div class="flex-icons">
                <i class="fa-regular fa-face-smile"></i>
                <h4> Easy to Use</h4>
            </div>
            <div class="flex-icons">
                <i class="fa-solid fa-truck-fast"></i>
                <h4>Trusted Information</h4>
            </div>
            <div class="flex-icons">
                <i class="fa-solid fa-people-group"></i>
                <h4>Civic Engagement Tools</h4>
            </div>
            <div class="flex-icons">
                <i class="fa-solid fa-globe"></i>
                <h4>Security & Privacy</h4>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>